/*Fonts*/
/*Colors*/
/*Effects*/
*,
*::before,
*::after {
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
}

/*Effects*/
* button {
  outline: none;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  background-color: #fff0c9;
  background-image: url(../img_src/Background.png);
  overflow-x: hidden;
}

.Button_Pink {
  width: 20rem;
  height: 3.5rem;
  margin-top: 20px;
  border-radius: 100rem;
  border: 0.3rem solid #f4f4f4;
  background: #ff5356;
  /* Pink Shadow */
  box-shadow: 0px 0px 21.6px 0px #ff5356;
  /*Text Styles*/
  color: #f4f4f4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.Button_Pink:hover {
  box-shadow: 0px 8px 0px 0px var(--Accent-2, #f4f4f4), 0px 0px 21.6px 0px #f4f4f4;
  transform: translateY(-10px);
  cursor: pointer;
}

/*Fonts*/
/*Colors*/
/*Effects*/
.menu {
  margin-top: 200px;
}
.menu .categories {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .categories .title,
.menu .categories .items {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .categories .title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  translate: 0px -200px;
}
.menu .categories .title svg,
.menu .categories .title h1 {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .categories .title svg {
  user-select: none;
  pointer-events: none;
  z-index: -1;
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(6px 6px 0px #ff5356) drop-shadow(0px 24px 31.5px rgba(255, 83, 86, 0.25));
}
.menu .categories .title h1 {
  color: #f4f4f4;
  text-align: center;
  margin-bottom: 1.5rem;
  /* BoxShadow */
  text-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.menu .categories .items {
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .categories .items .background_White,
.menu .categories .items .background_Neon,
.menu .categories .items .lists_Products {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .categories .items .background_White {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
}
.menu .categories .items .background_Neon {
  z-index: -1;
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(8px 8px 0px #ff5356) drop-shadow(0px 10px 20px rgba(255, 83, 86, 0.5));
}
.menu .categories .items .lists_Products {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 970px;
  height: 222px;
}
.menu .categories .items .lists_Products .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 260px;
}
.menu .categories .items .lists_Products .products img {
  width: 142.275px;
  height: 177.818px;
  display: block;
  user-select: none;
  pointer-events: none;
}
.menu .categories .items .lists_Products .products h3 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.menu .donutLists {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .donutLists .title,
.menu .donutLists .background,
.menu .donutLists .products {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .donutLists .title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  z-index: 3;
  translate: 0px -315px;
}
.menu .donutLists .title h1,
.menu .donutLists .title svg {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .donutLists .title svg {
  z-index: -1;
  padding-top: 25px;
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(6px 6px 0px #ff5356) drop-shadow(0px 24px 31.5px rgba(255, 83, 86, 0.25));
}
.menu .donutLists .title h1 {
  color: #f4f4f4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.menu .donutLists .background {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .donutLists .background .white,
.menu .donutLists .background .neon_back,
.menu .donutLists .background .neon_middle {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .donutLists .background .white {
  z-index: 1;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}
.menu .donutLists .background .neon_back,
.menu .donutLists .background .neon_middle {
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(8px 8px 0px #ff5356) drop-shadow(0px 10px 20px rgba(255, 83, 86, 0.5));
}
.menu .donutLists .background .neon_back {
  translate: -10px 10px;
}
.menu .donutLists .background .neon_middle {
  translate: 10px 10px;
}
.menu .donutLists .products {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .donutLists .products .products_list,
.menu .donutLists .products .floating {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .donutLists .products .products_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 910px;
  gap: 12px;
}
.menu .donutLists .products .products_list .products_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu .donutLists .products .products_list .products_items img {
  width: 180px;
  height: 180px;
}
.menu .donutLists .products .products_list .products_items h5 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.menu .donutLists .products .products_list .products_items h6 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu .donutLists .floating {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.menu .donutLists .floating .floats {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.menu .donutLists .floating .floats img {
  pointer-events: none;
  user-select: none;
}
.menu .donutLists .floating .img1 {
  translate: -500px 260px;
}
.menu .donutLists .floating .img1 img {
  width: 500px;
}
.menu .donutLists .floating .img2 {
  translate: 500px 330px;
}
.menu .donutLists .floating .img2 img {
  width: 400px;
}
.menu .donutLists .floating .img3 {
  translate: 580px 90px;
}
.menu .donutLists .floating .img3 img {
  width: 360px;
}

/*# sourceMappingURL=menu.css.map */
