/*Fonts*/
/*Colors*/
/*Effects*/
*,
*::before,
*::after {
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
}

/*Effects*/
* button {
  outline: none;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  background-color: #fff0c9;
  background-image: url(../img_src/Background.png);
  overflow-x: hidden;
}

.Button_Pink {
  width: 20rem;
  height: 3.5rem;
  margin-top: 20px;
  border-radius: 100rem;
  border: 0.3rem solid #f4f4f4;
  background: #ff5356;
  /* Pink Shadow */
  box-shadow: 0px 0px 21.6px 0px #ff5356;
  /*Text Styles*/
  color: #f4f4f4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.Button_Pink:hover {
  box-shadow: 0px 8px 0px 0px var(--Accent-2, #f4f4f4), 0px 0px 21.6px 0px #f4f4f4;
  transform: translateY(-10px);
  cursor: pointer;
}

.CTA {
  margin-top: 400px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.CTA .wrapper,
.CTA .bg1,
.CTA .bg2,
.CTA .elements {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  /*Centering the container*/
}
.CTA .wrapper img,
.CTA .bg1 img,
.CTA .bg2 img,
.CTA .elements img {
  pointer-events: none;
  user-select: none;
}
.CTA .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.CTA .wrapper h2 {
  color: #f4f4f4;
  text-align: center;
  /* Text Effect */
  text-shadow: 0px 4px 0px #ff5356, 0px 8px 0px rgba(255, 83, 86, 0.75), 0px 12px 0px rgba(255, 83, 86, 0.5), 0px 16px 0px rgba(255, 83, 86, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.CTA .wrapper p {
  color: #f4f4f4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.CTA .wrapper .Button_Pink {
  margin-top: 15px;
}
.CTA svg {
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(8px 8px 0px #ff5356) drop-shadow(0px 10px 20px rgba(255, 83, 86, 0.5));
  translate: 0px 30px;
}
.CTA .elements {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.CTA .elements .coffee1,
.CTA .elements .donut1 {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  align-self: center;
  /*Centering the container*/
  pointer-events: none;
  user-select: none;
}
.CTA .elements .coffee1 {
  transform: translateX(-100px) translateY(-270px);
}
.CTA .elements .donut1 {
  transform: translateX(100px) translateY(-210px);
}

.footer {
  margin-top: 400px;
  overflow: hidden;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.footer .wrapper .label,
.footer .wrapper .background,
.footer .wrapper .elements {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  align-self: center;
  /*Centering the container*/
}
.footer .wrapper .label {
  translate: 0px 100px;
  width: 1040px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 80px;
  grid-template: "sctn_left sctn_right" "sctn_bottom sctn_bottom";
}
.footer .wrapper .label .Section_left {
  grid-area: sctn_left;
}
.footer .wrapper .label .Section_left .logo {
  pointer-events: none;
  user-select: none;
}
.footer .wrapper .label .Section_left p {
  width: 515px;
  color: #1e1e1e;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer .wrapper .label .Section_right {
  grid-area: sctn_right;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .wrapper .label .Section_right .address h5 {
  color: #ff5356;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 54px */
  letter-spacing: -0.792px;
}
.footer .wrapper .label .Section_right .address h6 {
  color: #ff5356;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  letter-spacing: -0.44px;
}
.footer .wrapper .label .Section_right .social {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer .wrapper .label .Section_right .social p {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.44px;
}
.footer .wrapper .label .Section_right .social .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .wrapper .label .Section_right .social .icons img {
  pointer-events: none;
  user-select: none;
}
.footer .wrapper .label .Section_right .social .Button_Pink {
  width: 123px;
  height: 27.023px;
  border-radius: 100rem;
  border: 2px solid #f4f4f4;
  background: #ff5356;
  padding: 0.1em;
  /*Text Styles*/
  color: #f4f4f4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer .wrapper .label .Section_bottom {
  grid-area: sctn_bottom;
  justify-self: center;
  overflow: hidden;
  display: grid;
}
.footer .wrapper .label .Section_bottom h6 {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.footer .wrapper .background {
  bottom: 0;
  width: 100%;
}
.footer .wrapper .background img {
  width: 100%;
  display: block;
  user-select: none;
  pointer-events: none;
}
.footer .wrapper .elements {
  translate: 600px 420px;
}
.footer .wrapper .elements img {
  pointer-events: none;
  user-select: none;
}

/*Fonts*/
/*Colors*/
/*Effects*/
.Business_Partners {
  margin-top: 150px;
}
.Business_Partners .wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}
.Business_Partners .wrapper .title img,
.Business_Partners .wrapper .logoContainer img {
  user-select: none;
  pointer-events: none;
}
.Business_Partners .wrapper .title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.Business_Partners .wrapper .title h1,
.Business_Partners .wrapper .title svg {
  /*Centering the container*/
  grid-area: 1/1;
  justify-self: center;
  align-items: center;
  /*Centering the container*/
}
.Business_Partners .wrapper .title svg {
  user-select: none;
  pointer-events: none;
  z-index: -1;
  filter: drop-shadow(4px 4px 0px #f4f4f4) drop-shadow(6px 6px 0px #ff5356) drop-shadow(0px 24px 31.5px rgba(255, 83, 86, 0.25));
}
.Business_Partners .wrapper .title h1 {
  color: #f4f4f4;
  text-align: center;
  /* BoxShadow */
  text-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 25px;
}
.Business_Partners .wrapper .logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1460px;
}

/*# sourceMappingURL=partners.css.map */
