@import "style.scss";

// css reset
*,
*::before,
*::after {
	box-sizing: content-box;
}

* {
	margin: 0;
	padding: 0;
}

/*Effects*/
* button {
	outline: none;
	transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

body {
	background-color: $Background;
	// why the fuck is this not working?
	// fix this cause I'm gonna vommit in your face if this problem did not fix
	// the problem is the image is not showing on the website
	// I don't know debug it, I guess?
	background-image: url(../img_src/Background.png); // Here you go I fixed it :)
	overflow-x: hidden;
}

// this is the utility class you dumb fuck!
.Button_Pink {
	width: 20rem;
	height: 3.5rem;
	margin-top: 20px;

	border-radius: $BorderRd_Btn;
	border: 0.3rem solid $Accent1;
	background: $_Main2;
	/* Pink Shadow */
	box-shadow: $Shadow_pink;

	/*Text Styles*/
	color: $Accent1;
	text-align: center;
	font-family: $Inter;
	font-size: 2rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.Button_Pink:hover {
	box-shadow: $hover_button;
	transform: translateY(-10px);
	cursor: pointer;
}

// Honestly this is some shitty css code right here
